@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Montserrat', sans-serif;
}

/* Scrollwheel styles */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
}
::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #404040;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.scrollbar-hidden {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* Slider */
.custom-slider .MuiSlider-thumb {
    width: 14px;
    height: 14px;
    background-color: #00aeff;
}

.custom-slider .MuiSlider-thumb:hover,
.custom-slider .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 8px rgba(12, 126, 233, 0.16);
}

.custom-slider .MuiSlider-track {
    background-color: #00aeff;
}

.custom-slider .MuiSlider-rail {
    background-color: rgb(0, 195, 255);
}
